.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 90px 24px 95px 15px;
}

.header__menu {
  padding-left: 34px;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  list-style-type: circle;
}

.address__link {
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.header__link_active {
  text-decoration: none;
  pointer-events: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  display: flex;
  justify-self: center;
  width: 148px;
  height: 105px;
  margin-bottom: 2px;
}

.header__logo-image {
  object-fit: contain;
}

.header__address {
  justify-self: end;
  padding-right: 63px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: black;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 162px 49px 131px 47px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  text-transform: uppercase;
}

.aligned-text {
  margin-top: 4px;
  margin-left: 6px;
  display: block;
  padding-bottom: 17px;
  line-height: 115%;
}

.aligned-text_center {
  margin-left: 36px;
  margin-top: 11px;
  display: block;
  padding-bottom: 19px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 16px;
  display: block;
  text-align: right;
}

.letter-spacing-narrow {
  letter-spacing: 30px;
}

.letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.letter-spacing-extended-plus {
  letter-spacing: 30px;
}

.letter-spacing-extended-max {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 49px 28px 140px;

 
  
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 127.273%;
  text-transform: uppercase;
  word-spacing: 20px;
  letter-spacing: 0;
  margin-left: -90px;
  margin-top: -38px;
 
}

.bet-button {
  border: 1px solid #fff;
  padding: 15px 29px 13px 30px;
  color: #fff;
  font-weight: 256;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  padding: 0 0 27px 37px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  justify-content: space-between;
}

.lots__card-list-item {
  width: 334px;
  height: 596px;
  color: #ffffff;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  padding: 48px 35px 0 39px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  width: 254px;
  margin: auto;
  margin-bottom: 45px;
  color: white;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: none; 
}

.lots__look-more-link {
  display: block;
  margin: 29px 0 0 39px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  max-width: fit-content;
}

.about {
  display: grid;
  column-gap: 25px;
  padding: 0 21px 178px 33px;
  grid-template-columns: 328px auto;
}

.about__logo {
  margin-top: 154px;
  margin-left: -12px;
  justify-self: center;
  width: 237px;
  height: 237px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  padding: 61px 44px 62px 45px;
}

.about__text-column {
  color: #000;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 120px;
  margin-top: 255px;
}

.about__text {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 58px 89px 58px;
}

.footer__address {
  justify-self: start;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  margin-left: -7px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  list-style-type: none;
}

.footer__menu-list-item {
  align-self: center;
}



.footer__menu-link_active {
  text-decoration: none;
  pointer-events: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  column-gap: 46.5px;
  list-style-type: none;
}

.footer__social-link {
  display: flex;
  width: 48px;
}

.footer__social-icon {
  object-fit: contain;
}